// .MuiGrid-root .MuiGrid-item {
//     background: none !important;    border-radius: 13px;
// }

.css-a5rdam-MuiGrid-root>.MuiGrid-item {
    justify-content: center !important;
}

.css-1izfaj-MuiPaper-root-MuiCard-root {
    border-radius: 15px !important;
}

.Cards_Card__content__56NkY {
    margin-bottom: 0px !important;
}

.Card__new {
    display: flex;
    justify-content: space-between;
}