.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
    margin-top: 38px;

    &__logo {
        cursor: pointer;
    }

    &__links ul {
        display: flex;
    }

    &__links li+li {
        margin-left: 45px;
    }
}