.css-wjh20t-MuiPagination-ul {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 1200px;
    justify-content: center !important;
}

// .MuiPagination-root {
//     background: whitesmoke;
// }

.MuiPagination-root {
    padding-bottom: 40px;
    margin: 0 auto !important;
}